{% load  i18n %}

<footer>
    <div style="margin-top: 80px; height: 110px; background-color: #ffffff;">
    <p><img src="/static/umap/img/partners_logo.png" style="width: 100%; margin-top: 0px" align="middle"></p>
    <p align="middle"><img class="bonusFooter" src="/static/umap/img/BONUS_logo.svg" ><img class="euFooter" src="/static/umap/img/eu_logo.svg"></p>

    </div>
</footer>
<div class="foot"><p>BONUS BASMATI project has received funding from BONUS (Art 185), funded jointly by the EU and Innovation Fund Denmark, Swedish Research Council Formas, Academy of Finland, Latvian Ministry of Education and Science, and Forschungszentrum Jülich GmbH (Germany).<p></div>
